<?xml version="1.0" encoding="UTF-8"?><project-modules id="moduleCoreId" project-version="1.5.0">
    <wb-module deploy-name="spring-boot-commercetools-0.0.1-SNAPSHOT">
        <wb-resource deploy-path="/" source-path="/src/main/webapp" tag="defaultRootSource"/>
        <wb-resource deploy-path="/WEB-INF/classes" source-path="/src/main/java"/>
        <wb-resource deploy-path="/WEB-INF/classes" source-path="/src/main/resources"/>
        <wb-resource deploy-path="/WEB-INF/classes" source-path="/src/main/webapp"/>
        <property name="java-output-path" value="/spring-boot-hello-world-example/target/classes"/>
        <property name="context-root" value="spring-boot-commercetools"/>
    </wb-module>
</project-modules>
