.blue-header{background:#003f7c; color:#fff; font-size: 15px; padding-top: 5px;padding-bottom: 5px; line-height: 20px;}
.container-fluid{padding-left: 30px; padding-right: 30px;}
.blue-header--info{font-weight: bold; font-size: 13px;}
.blue-header--txt{padding-right: 30px;}
.blue-header--right a{color:#fff; font-size: 15px; padding-left:15px;}
.header-register--link{font-weight:bold;}
.header{padding: 30px 30px; border-bottom: 1px solid #e0e3e6;}
.logo{width: 17%;}
header{background: #fff;}
.header-cart{width: 10%; position: relative;}
.header-search--container{width: 73%; margin: 0 auto;}
.searh-box{width: 70%; margin: auto; position: relative;}
.search-input{border-style: solid; border-color: #C6CCD2; border-width: 1px; width: 100%; height: 48px; border-radius: 2px; padding: 0 0 0 10px; color: #899299; font-size: 15px;font-weight: 600; box-shadow: 0 0 10px rgba(0,0,0,0.2);}
.serach-button{border: none; display: inline-block; border-radius: 4px; color: #ffffff; font-size: 14px; font-weight: 500; text-align: center;  letter-spacing: 0.5px; background: #004a87; padding: 7px 20px 7px 20px; line-height: 20px; white-space: nowrap; text-decoration: none;position: absolute; right: 5px;top: 6px;}
.cartbag{font-size: 25px; color:#BCBCE7;}
.cartcount{position: absolute; background: #c30b49 none repeat scroll 0 0; top: -5px; right: -10px;}
.content{min-height: 300px; margin-bottom:30px;}
footer{background-color: #e1e1e1;}
.footer{margin-bottom: 20px; width: 100%; border-bottom: 1px solid #a1a1a1; padding-bottom: 15px;}
ul{list-style-type:none; list-style-position: outside; padding:0; margin: 0;}
.footer ul{margin-left: 0px;}
.footer h2{color: #004b87; font-size: 15px; margin-bottom: 10px; margin-top: 40px; font-weight: bold;}
.footer a{color: #595959; font-size: 12px; font-weight: 300; line-height: 24px; text-align: left;}
.copyright{color: #595959; font-size: 13px; font-weight: 300; text-align: left;}

.login-container{width: 350px; margin: 0 auto;}
.login-wrapper{border:solid #e0e3e6 1px; width: 100%; border-radius: 5px; padding: 25px; margin: 50px 0;}
.field{margin-bottom: 15px;}
.input-field{width: 100%; padding: 8px 25px; height: 40px; margin: 5px 0; display: inline-block; background: #f2f2f2; box-sizing: border-box; border-radius: 100px; color: #8c8c8c; font-size: 13px; outline: none; box-shadow: none; border: 0;}
.login-container h3{color: #c30045; font-size: 22px; margin-top: 0;}
.primary-btn{background: #C30045; border: none; color: #ffffff; font-size: 14px; letter-spacing: 0.5px; padding: 12px 20px 10px 20px;white-space: nowrap; text-decoration: none; border-radius: 0;width: 100%;}

.main-content{margin-top: 10px;}
.filter-container{width: 100%; border: 1px solid #e4e4e4; padding: 26px 20px 14px; text-align: left; margin-bottom: 20px;}
.filterby-text{font-size: 22px; line-height: 1; color: #004b87; margin: 0; padding: 0;}
.filters{position: relative; cursor: pointer; padding: 19px 0 16px; margin-bottom: 0; font-size: 13px; font-weight: 700; color: #737476;}
.filters.collapsed, .filter-wrappers{ border-bottom: 1px solid #e1e1e1;}
.filter-wrappers{margin-bottom: 6px; padding-bottom: 10px;}
.filters:after{content: "-"; font-size: 18px; line-height: 16px; position: absolute; right: 7px; top: 19px;}
.filters.collapsed:after{content: "+"; }
.filter-wrappers a {line-height: 11px; padding-bottom: 6px; padding-top: 6px; color: #555; display: inline-block; font-size: 12px;}
.checkboxcontainer, .radiocontainer{font-weight: normal; font-size: 12px;display: inline-block; position: relative; padding-left: 35px; line-height: 18px; cursor: pointer; color: #555; font-size: 13px; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none;}
.checkboxcontainer input, .radiocontainer input{position: absolute; opacity: 0; cursor: pointer;}
.checkmark, .radiocheckmark{position: absolute; top: 0; left: 0; height: 18px; width: 18px; background-color: #fff; border: #cccccc 1px solid;}
.radiocheckmark { border-width: 2px;border-radius: 50%;}
.checkboxcontainer input:checked ~ .checkmark { background-color: #f1f1f1;}
.checkmark:after, .checkmark:before{ content: ""; position: absolute;display: none;}
.checkboxcontainer input:checked ~ .checkmark:after {display: block;}
.checkboxcontainer .checkmark:after, .checkboxcontainer .checkmark:before {left: 5px; top: 1px; width: 6px; height: 10px; border: solid #C30045; border-width: 0 2px 2px 0; -webkit-transform: rotate(42deg); -ms-transform: rotate(42deg); transform: rotate(42deg);
}
.radiocontainer input:checked ~ .radiocheckmark {background-color: #fff;border-color: #c30045;}
.radiocheckmark:after {content: ""; position: absolute;display: none;}
.radiocontainer input:checked ~ .radiocheckmark:after {display: block;}
.radiocontainer .radiocheckmark:after {top: 0; left: 0; width: 10px;height: 10px; right: 0; bottom: 0; margin: auto; border-radius: 50%; background: #c30045;}
.sort-container{width: 100%;}
.product-count{font-weight:bold; color:#C30045; padding-top: 7px;}
.sort-by{font-size: 13px; color:#555; padding-top: 7px; display: inline-block; padding-right: 10px;}
.sort-products{border:0; background: #fff; border:#003f7c solid 1px;padding: 5px 17px;}
.product-container{padding: 0; margin: 15px 0;}
.products{padding-left: 5px; padding-right: 5px; margin: 7px 0;}
.product-item{padding: 7px; border:solid #ececec 1px; width: 100%; min-height: 370px;}
.plp-left{padding: 0;}
.plp-right{padding-right: 0;}
.product-title--container a{color: #212b36; font-size: 14px; text-decoration: none;}
.product-title--container a:link, .product-title--container a:visited, .product-title--container a:hover, .product-title--container a:active, .product-title--container a:focus{text-decoration: none;}
.product-title--container{padding: 5px 0;}
.special-price{color: #c30045; font-size: 14px; font-weight: 600; display: block;}
.product-price{color: #ccc; text-decoration: line-through; display: block;}
.addto-cart--container{position: absolute; left: 15px; right: 15px; margin:auto; bottom:0; }
.add-to--cart{width: 100%; background: #C30045; border:0; color:#fff; padding: 10px 0; font-weight: bold; box-shadow: none;}

.image-thumb--container{padding: 0 5px}
.pdp-left{padding-left: 0;}
.nopadding{padding: 0;}
.thumb-images{margin-bottom: 8px; border:1px solid #eaeaea; padding: 5px;}
.pdp-product--img{box-shadow: 0px 0px 21px rgba(0,0,0,0.08);background-color: #fff;min-height: 250px;}
.pdp-product--img--wrapper{padding: 15px;}
.pdp-product--title{clear:both;font-size: 15px; font-weight: bold;  margin-top: 0; color: #231f20;}
.pdp-price--details{padding-right: 10px;}
.pdp-spl--price{color:#000; font-size: 17px; font-weight: bold;}
.old-price{color: #999999; font-size: 14px;padding-top: 6px;text-decoration: line-through;}
.off-percentage{color:#c30045; font-weight: bold; font-size: 14px;}
.pdp-stock--details{color: #ee4f21; font-size: 15px; font-weight: bold; margin-bottom: 10px;}
.about-the--product{font-size: 13px; color:#555; margin-top: 10px;}
.pdp-addtocart--container{margin-top: 15px;}
.pdp-info{background-color: #f5f5f5; padding: 15px; margin: 0px 0 20px; color:#555; font-size: 13px; clear:both}
.pdp-info li{margin-bottom: 10px; position: relative;padding-left: 20px; float:left; width: 100%;}
.pdp-info li:before{content: ''; position: absolute; top: 5px; left: 0; width: 5px; height: 5px; border-radius: 100%; background: #C30045;}
.specs{margin-top: 25px;}


.shopping-bag{font-size: 30px; line-height: 1; font-weight: bold; color: #004b87;}
.cartbtns{font-weight: bold;}
.cart-items{border-top: 1px solid #ddd;}
.cart-items.table>tbody>tr>td{vertical-align: middle;}
.cart-product--img a{border: 1px solid #ebebeb; padding: 3px;}
.cart-btn--container{margin: 20px 0;}
.cart-bold--txt{color: #282828; font-weight: bold;}
.change-qty{background: #f9fafc none repeat scroll 0 0; float:left; display: inline-block; width: 18px; height: 32px;line-height: 30px; text-decoration: none; text-align: center; color:#9b9b9b; font-weight: bold;}
.qtybox{width: 40px;border:0; border-left: 1px solid #ccc;border-right: 1px solid #ccc; height: 32px; text-align: center; color:#909090;}
.cart-qty--container{border: 1px solid #ccc; display: inline-block;}
.change-qty:link, .change-qty:visited, .change-qty:hover, .change-qty:active, .change-qty:focus{text-decoration: none;}
.order-summary{clear:both; margin: 20px 0;}
.order-summary--container{background: #ECECEC;padding: 30px;}
.order-price{border-bottom: 1px solid #ccc; padding-bottom: 15px; font-size: 14px;color: #212b36;}
.summary-section{margin-bottom: 10px;}
.summary-total{font-weight: bold; font-size: 22px; margin-top: 15px;  margin-bottom: 10px;}
.summary-checkout--btn{margin: 0 auto; display: block;}

.checkout-step--title{color: #004b87;font-size: 16px; font-weight: bold; position: relative; }
.step-heading{padding-left: 35px;}
.step-heading:before{content: '1'; position: absolute; top: -3px; left: 0; width: 25px; height: 25px; border-radius: 100%; background: #004b87; color: #fff; text-align: center; font-size: 15px; line-height: 23px; font-weight: bold;}
.checkout-step--title.step1:before{content: '1'; }
.checkout-step--title.step2:before{content: '2'; }
.chckout-container{background: #f5f5f5;}
.checkout-wrapper{position: relative; background: #fff; margin-top: 30px; padding: 20px;}
.billing-address--select{color: #555; display: block; font-weight: normal; margin: 20px 0 5px; float: left; width: 100%; font-size: 13px;}
.select-style{padding: 0; margin: 10px 0; float:left; border: 1px solid #ccc; width: 300px; border-radius: 3px; overflow: hidden; background-color: #fff; position: relative;}
.select-style select{padding: 5px 8px; width: 100%;color: #555; letter-spacing: 0.5px; border: none; box-shadow: none; background-color: transparent; background-image: none; -webkit-appearance: none; -moz-appearance: none; appearance: none;}
.select-style select:focus{outline: none;}
.select-style:after{content: ''; position: absolute; top: 12px; right: 10px; border-top: 4px dashed; border-bottom: 0; border-right: 4px solid transparent; border-left: 4px solid transparent; color:#000;}
.billing-address{clear:both;display: block; color:#555;}
.billing-address--container{margin: 20px 0;}
.ship-to--same--address{margin-top: 15px;}
.ship-to--same--address label{font-weight: bold;}
.new--address--container{margin-top: 40px; display: none;}
.checkout-label, .checkout-input{width: 100%;}
.checkout-label{color: #555; font-size: 12px;}
.mandatory{color:#cc0000;}
.checkout-input{background: #fff none repeat scroll 0 0; border: 1px solid #e4e4e4; height: 35px;padding: 0 0 0 10px; color:#555; font-size: 12px;}
.checkout-input:focus{box-shadow: none; outline: 0;}
.checkout-field, .shipping-address--container--wrapper{margin-bottom: 20px;}
.shipping-address--container{margin: 20px 0; display: none;}

.payment-methods{padding: 15px; width: 100%; }










